.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 400px;
}

h1 {
  font-size: 48px;
}

div {
  width: fit-content;
}

h2 {
  font-size: 48px;
}

.span {
  align-items: center;
  display: inline-flex;

  background-color: black;
  border-radius: 50%;
  justify-content: center;

  height: 10px;
  width: 10px;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.contactItem {
  align-items: center;
  display: flex;
  font-size: 20px;
  gap: 8px;
  justify-content: space-between;
  width: max-content;
}
